.contenedor-second{
    background-color: rgb(40, 170, 226);
    text-align: center;
    padding: 1cm;
    color: aliceblue;
    font-size: larger;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif
}